.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    

    overflow-x: hidden;

    
    .content{
        
        margin-left: 15.5rem;
        padding: 2.5rem;
        height: 55rem;
        animation: animationform 2s;

        .subdomain{
            display: flex;
            flex-direction: column;
            padding: 2rem;

            label{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            input{
                height: 2.5rem;
                width: 20rem;
                padding: 0.5rem;
                border-radius: 5px;
                background: var(--gray-100);
                font-weight: bold;

                transition: background 0.5s;

                &:hover{
                    background: var(--white);
                }
            }

            .domain{
                height: 2.5rem;
                width: 20rem;
                padding: 0.5rem;
                border-radius: 5px;
                background: var(--gray-100);
                font-weight: bold;
                font-size: 1rem;

                transition: background 0.5s;

                &:hover{
                    background: var(--white);
                }
                
                option{
               
                    border-radius: 5px;
                    background: var(--gray-100);
                    font-weight: bold;
                    font-size: 1rem;
                }
            }

            button{
                height: 2.8rem;
                width: 20rem;
                padding: 0.5rem;
                border-radius: 5px;
                background: var(--gray-100);
                margin-top: 3rem;

                transition: background 0.5s;

                &:hover{
                    background: var(--white);
                }
            }
        }

        .domainList{
            padding: 2rem;
            height: 20rem;

            h2{
                margin-bottom: 2rem;
            }

            ul{

                li{
                    margin-bottom: 1.5rem;
                    list-style: none;
                    border-bottom: 1px solid;
                    height: 3rem;
                    display: flex;
                    
                  
                   

                    .link{
                        font-size: 1.5rem;
                        text-decoration: none;
                        
                    }

                  

                    .svg{
                      
                        cursor: pointer;
                        margin-left: auto;
                        
                        
                    }
                }
            }
        }
    }
}

.dark{
    background: var(--gray-900);
    color: var(--snow);
}

.light{
    background: var(--snow);
    color: var(--black);
}
@keyframes animationform {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-device-width: 1401px) {
    .container{
        .content{
            margin-left: 1rem;

            .subdomain{
                padding: 0;
            }

            .domainList{
                padding: 0;

                ul{
                    li{
                        .link{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}