.container{
    
    height: 100%;
    margin-top: 2rem;
    padding: 2rem;

    
   
   
        
    li{
        list-style: none;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid;
        border-radius: 10px;
        padding: 2rem;
        transition:  scale  .5s;
        
       
       
        &:not(:hover) {
            opacity: .8;
            scale: .98;
            
        }

     
        

        .users{
            font-weight: bold;
            text-decoration: none;
            color: var(--gray-100);
            transition: color 0.4s;

          
        }
         
        span{
            margin-top: 0.2rem;
        }


        
    }

    

    

}





.light{
    background: var(--gray-300);
}

.dark{
    background: var(--gray-800);
}

