.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    

    overflow-x: hidden;



    .content{
        padding: 2rem;
        animation: animationbanner 5s;
        margin-left: 15.5rem;

        .createWHbanner{
            align-items: center;
            text-align: center;
            flex-direction: column;
            margin-top: 3rem;
            height: 35rem;

            h2{
                padding: 2rem;
            }

            span{
                font-weight: bold;
            }

            button{
                height: 2.5rem;
                width: 13rem;
                margin-top: 1rem;
                border-radius: 5px;
                background: var(--cyan-500);
                font-weight: bold; 
                cursor: pointer;
                transition: background 0.8s;

                &:hover{
                    background: var(--gray-100);
                }


            }

        }
    }
}

.dark{
    background: var(--gray-900);
    color: var(--snow);
}

.light{
    background: var(--snow);
}

@keyframes animationbanner {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-device-width: 1401px){
    .container{
        .content{
            margin-left: 1rem;

            .createWHbanner{
                margin-bottom: 50%;
            }
        }
    }
    
}