.container{
    height: 6rem;
    animation: animation 1s;
    display: flex;

    
    

    .content{

        width: 100%;
        height: 5rem;
        padding-top: 1rem;
        padding-left: 2rem;
        margin-top: 1rem;
        display: flex;

        .title{
            font-size: 1.5rem;
            font-family: "Fjalla One", sans-serif;
        }

        .links{
           margin-left: auto;
           margin-right: 3rem;
           margin-top: 0.2rem;

           a{
            padding: 0.5rem;
            font-size: 1.2rem;
            font-family: "Fjalla One", sans-serif; 
            color: var(--gray-500);
            text-decoration: none;
            transition: color 0.5s;

    

            & + a{
                margin-left: 2rem;
            }

            &:hover{
                color: var(--black);
            }

            &.active{
                color: var(--cyan-500);
                font-weight: bold;
                padding: 0.5rem;
                font-size: 1.2rem;
                font-family: "Fjalla One", sans-serif;
                text-decoration: none;
            }

    
            
        
            
            
           }

           
           
        }



        
    }
}


@keyframes animation{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0%);
    }
}