*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --snow: #fffafa;
    --black: #000;
    --gray-50: #EEEEF2;
    --gray-100: #e1e1e6;
    --gray-300: #a8a8b3;
    --gray-500: #9E9E9E;
    --gray-700: #323238;
    --gray-900: #121214;
    --gray-800: #29292e;
    --gray-850: #1a2729;
    --yellow-500: #eba417;
    --gold: #d4af38;
    --cyan-500: #61dafb;
    --DeepSkyBlue: #00bfff;
    --blue: #0000ff;
    --dark-blue: #120a8f;
    --red: #FF0000;
    --primary: #8257e5;
    --green: #25D366;
    --green-whatsapp: #25d366;
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

body{
    font-family: "Poppins", sans-serif;
   
    
}

.dark{
    background: var(--gray-800);
    color: var(--white);
    

}

.light{
    background: var(--snow);
    color: var(--black);
}


