.container{
  
    
    height: 100%;
    width: 100%;
    display: flex;
    
    

    flex-direction: column;

   
    
    

  
    
    
    
    
    .header{
        
        
        width: 100%;
        
    
    
        display: flex;
        
        
   

    }

    


 

    

    

    .emojiArea{

        
       
        overflow-y: hidden;
        transition: all ease 0.3s;
        max-height: 16rem;
        

    }

    .inputTextArea{
        display: flex;
        height: 5rem;
        padding: 1.5rem;
        border-top: 1px solid;
        align-items: center;
        
        width: 100%;
    
      
        
       
 
        
        

  
   

        .closeEmoji{
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            cursor: pointer;
        }

        .emoji{
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            cursor: pointer;
        }
        

        .input{
            background: var(--gray-100);
            height: 2.5rem;
            width: 100%;
            
            border-radius: 10px;
            
        
            padding: 0.3rem;

        
           
            
            input{
                width: 98%;
                height: 2rem;
                padding-left: 1rem;
                border: 0 none;
                box-shadow: 0 0 0 0;
                outline: 0;
                background: var(--gray-100);
                font-family: 'Poppins', sans-serif;
              
            }
        }
   
        .button{
            margin-left: 1rem;
            margin-top: -0.4rem;
            .sendMessage{
              
                background: transparent;
                border:none;
                transition: color .5s;
                cursor: pointer;
                margin-top: 1rem;
                
            
                &:hover{
                    color: var(--cyan-500);
                }
        }
           
        }
    }
   

}


.dark{
    background: var(--black);
    color: var(--snow);
}

.light{
    background: var(--gray-300);
    color: var(--black);
}

