.container{
    margin-left: 25rem;
    width: 60rem;
    animation: containerAnimation 1.5s;
    margin-top: 1rem;
    
    h1{
        padding: 1rem
    }
    .companiesList{
        padding: 1rem;
      
        div{
            display: flex;
        
            ul{
            font-size: 1.5rem;
  
            width: 60rem;
            border-bottom: 1px solid;
            

            button{
                margin-left: 45rem;
                height: 2rem;
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;
                overflow: hidden;
                outline: none;

            }
        }
        }
    }
}

.dark{
    background: var(--gray-800);
    color: var(--snow);
}

.light{
    background: var(--gray-300);
    color: var(--black);
}

@keyframes containerAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}