.container{
    margin-left: 25rem;
    width: 60rem;
    animation: containerAnimation 1.5s;
    margin-top: 1rem;
    
    h1{
        padding: 1rem
    }
    .companiesList{
        padding: 1rem;
      
        div{
            display: flex;

            
            width: 100%;
            border-bottom: 1px solid;
        
            ul{
            font-size: 1.5rem;
            
  
            

           
        }
        }
    }
}

.dark{
    background: var(--gray-800);
    color: var(--snow);
}

.light{
    background: var(--gray-300);
    color: var(--black);
}

@keyframes containerAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}