.header{
    margin-left: 3.5rem;
    height: 5rem;
    align-items: center;
    display: flex;
    width: 100%;
    
    
    .account{
      
      
      display: flex;
      margin-left: auto;
      margin-right: 5rem;
      padding: 1rem;

    .switch{
      display: flex;
      height: 3rem;
      align-items: center;
      
    }

    .information{
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: pointer;


      .name{
        font-size: 1.1rem;
        font-weight: bold;
        
      }

      .email{
        color: var(--gray-300);
        font-size: 0.9rem;
      }
    }
  
  

    .picture{
      
      display: flex;
      
      .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: 1rem;
      }
    }
  }
}

.boxInfo{
  
  margin-left: auto;
  margin-right: 5%;
  padding: 1rem;
  opacity: .8;
  flex-direction: column;
  background: var(--primary);
  border-radius: 20px;
  animation: boxInfoAnimation .8s;

  .svg{
    margin-left: auto;
    cursor: pointer;
    transition: color .5s;

    &:hover{
      color: var(--cyan-500);
    }
  }

    .info{
       .name{
        font-weight: bold;  
       }
    }

    .links{
      .link{
        text-decoration: none;
        font-weight: bold;
        
      }
      .link2{
        text-decoration: none;
        font-weight: bold;
        margin-left: 3%;
      }
    }
}

.dark{
 
  color: var(--snow);
}

.light{
  color: var(--black);

}

@keyframes boxInfoAnimation {
  from{
    opacity: 0;
  }

  to{
    opacity: .8;
  }
}


@media only screen and (max-device-width: 517px) {

  .header{

    height: 100%;
    flex-direction: column;

    .account{

      
    .information{



      .name{
        font-size: .9rem;
      }
  
      .email{
        font-size: .5rem;
      }
    }
  
    }
  }
  
  
}