.container{
    margin-left: 3.5rem;
    height: 100vh;
    animation: containerAnimation 3s;
    
  


    h1{
        padding: 2rem;
        margin-left: 1rem;
        background: transparent;
    }

    .content{
        padding: 3rem;
        display: flex;
        
        flex-direction: column;
        
        

        .statistics{
            display: flex;
            padding: 1rem;
            margin-left: 2rem;

        

        .total{
           
            margin-left: 1rem;
            flex-direction: column;
            border-radius: 10px ;
            width: 23rem;
            height: 13rem;
            padding: 1rem;
            text-align: center;

            transition:  scale  .5s;
        
       
       
            &:not(:hover) {
                opacity: .8;
                scale: .98;
                
            }
    

            h2{
                margin-top: 1rem;
            }
         

            span{

                font-size: 1.2rem;
            }

            p{
                margin-top: 2rem;
              
            }
        }

        .Active{
      
            margin-left: 1rem;
            flex-direction: column;
            border-radius: 10px ;
            width: 23rem;
            height: 13rem;
            padding: 1rem;
            text-align: center;

            transition:  scale  .5s;
        
       
       
            &:not(:hover) {
                opacity: .8;
                scale: .98;
                
            }
    


            span{
                font-size: 1.2rem;

                h2{
                    margin-top: 1rem;
                }
            }

              p{
                margin-top: 2rem;
          
            }
        }

        .Inactive{ 
      
            margin-left: 1rem;
            flex-direction: column;
            border-radius: 10px ;
            width: 23rem;
            height: 13rem;
            padding: 1rem;
            text-align: center;

            transition:  scale  .5s;
        
       
       
            &:not(:hover) {
                opacity: .8;
                scale: .98;
                
            }
    


            span{
                font-size: 1.2rem;

                h2{
                    margin-top: 1rem;
                }
            }

            p{
                margin-top: 2rem;
        
            }
        }

        .Confirmation{
           
            margin-left: 1rem;
            flex-direction: column;
            border-radius: 10px ;
            width: 23rem;
            height: 13rem;
            padding: 1rem;
            text-align: center;

            transition:  scale  .5s;
        
       
       
            &:not(:hover) {
                opacity: .8;
                scale: .98;
                
            }
    



            span{
                font-size: 1.2rem;
                h2{
                    margin-top: 1rem;
                }
            }

            p{
                margin-top: 2rem;
                margin-left: 1rem;
              
            }
        }
        
        }

        .usersList{
            margin-top: 2rem;
            height: 70rem;

            h2{
                background: transparent;
            }
        }
    }
}

.light{
    background: var(--gray-300);
    color: var(--black);

}

.dark{
    background: var(--gray-800);
    color: var(--snow);
}

@keyframes containerAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}