.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    

    overflow-x: hidden;

    .title{
        margin-left: 17rem;
    }

}

.dark{
    background: var(--gray-900);
    color: var(--snow);
}

.light{
    background: var(--snow);
    color: var(--black);
}