.empresa{

    height: 10rem;
    width: 40%;
    margin-right: 5%;
    background: var(--gray-900);
    align-items: center;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid var(--black);
    transition:  scale  .5s;



    &:not(:hover) {
        opacity: .8;
        scale: .98;
        
    }


    .name{
        font-weight: bold;
        font-size: 1.3rem;
        margin-top: 8%;
        
    }

}

.Modal{
    height: 40%;
    width: 35%;
    border-radius: 20px;
    background: var(--gray-900);
    color: var(--snow);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 33%;
    margin-top: 15%;
    animation: ModalAnimation .5s;


    .svg{
        margin-left: auto;
        margin-right: 3;
        cursor: pointer;
        transition: color .5s;

        &:hover{
            color: var(--cyan-500);
        }
    }

    span{
        font-weight: bold;
        font-size: 1.3rem;
        margin-top: 3%;
    }
}

@keyframes ModalAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}